dataset/*
!dataset/demo/
augmentation/*
!/augmentation/data_aug/

2classes/4500/.ipynb_checkpoints/
2classes/4500/checkpoint/
2classes/4500/dataset

2classes/10000/.ipynb_checkpoints/
2classes/10000/checkpoint/
2classes/10000/dataset

8classes/4500/.ipynb_checkpoints/
8classes/4500/checkpoint/
8classes/4500/dataset

8classes/20000/.ipynb_checkpoints/
8classes/20000/checkpoint/
8classes/20000/dataset