dataset/*
!dataset/demo/
augmentation/*
!/augmentation/data_aug/

2classes/4468/.ipynb_checkpoints/
2classes/4468/checkpoint/
2classes/4468/dataset

2classes/20000/.ipynb_checkpoints/
2classes/20000/checkpoint/
2classes/20000/dataset

8classes/4468/.ipynb_checkpoints/
8classes/4468/checkpoint/
8classes/4468/dataset

8classes/20000/.ipynb_checkpoints/
8classes/20000/checkpoint/
8classes/20000/dataset

8classes_4468/*

8classes/4000/blur_dataset
8classes/4000/checkpoint
8classes/4000/.ipynb_checkpoints

blur/*
!/blur/Blur.ipynb