dataset/*
!dataset/demo/
augmentation/*
!/augmentation/data_aug/

2classes/4500/.ipynb_checkpoints/
2classes/4500/checkpoint/
2classes/4500/dataset

2classes/10000/.ipynb_checkpoints/
2classes/10000/checkpoint/
2classes/10000/dataset
